<!DOCTYPE html>
<html lang="en">

<head>
  <base href="<%= htmlWebpackPlugin.options.environment.base %>">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
  <link rel="manifest" href="/manifest.json">

  <title>
    <%= htmlWebpackPlugin.options.environment.pageTitle %>
  </title>
</head>

<body>
  <my-app who="World">Loading ...</my-app>
</body>

</html>
